> # Reporte de la Primera Prueba Exploratoria

## Contenido
- [Resumen](#resumen)
- [Perfil del Sujeto de Prueba](#perfil-del-sujeto-de-prueba)
- [Opinión del Sujeto de Prueba sobre el Sistema](#opinión-del-sujeto-de-prueba-sobre-el-sistema)
- [Posibles Áreas de Oportunidad Encontradas](#posibles-áreas-de-oportunidad-encontradas)

[*Ver el **Diseño de las Pruebas Exploratorias***](../Exploratory%20Test%20Design.md)

[*Ver el **Reporte de la Prueba Exploratorias Preeliminar***](./Preeliminary%20Exploratory%20Test%20Report.md)

[*Ver el **Reporte de la Segunda Prueba Exploratoria***](./2nd%20Exploratory%20Test%20Report.md)

[*Ver el **Reporte de la Tercera Prueba Exploratoria***](./3rd%20Exploratory%20Test%20Report.md)

[*Volver a la **Definición del Proyecto***](../../README.md)

## Resumen 

Al sujeto, a través del chat directo de Microsoft Teams, se le proporcionaron indicaciones previas a la ejecución de la Prueba de Usabilidad sobre el objetivo de la herramienta y de la prueba.
De igual manera, se le informó sobre las herramientas que se requeririan para poder lleva a cabo este proceso, sin embargo, estas herramientas serian instaladas durante la prueba. 

La prueba se ejecutó con normalidad.  En comparacion con la primera prueba, se notó un incremento en el timepo de aplicacion, posiblemente causado por la instalacion de dependencias y herramientas. Sin embargo,
no se presentaron eventos extraordinarios que hayan impactado de manera significativa la aplicación de la Prueba de Usabilidad.

Se le proporcionó menor ayuda por parte del equipo para poder observar el comportamiento y se intentó solo interferir en situacion donde el sujeto tenia dificultades o dudas.

## Perfil del Sujeto de Prueba 

El sujeto de prueba es un estudiante de pre-licenciatura para la carrera LIS de la Facultad de Matemáticas. Actualmente está inscrito en cursos propedeuticos.

El sujeto presenta poca experiencia en el uso de Visual Studio Code y el nulo uso del apartado de extensiones de éste.No ha utilizado GitHub durante su formacion previa mas que para la descarga de archivos. El uso que le ha dado a hithub ha sido a travez del navegador, tomandolo con un google drive mas que un repositorio. Cabe recalcar que no tiene experiencia previa a la Prueba de Usabilidad en el uso de Git Bash, ni de los comandos utilizados para la gestión de cambios en un repositorio. 

Considerando los comentarios proporcionados por el sujeto: 

- No ha tenido exposición previa al ingreso de la carrera sobre temas de Algoritmia y Programación.
- No ha interactuado con vs code y git, en un contexto que requiera realizar commits o gestion de repositorios.
- Considera que la retroalimentacion es importante para los estudiantes.

Durante la aplicación de la prueba, se puede inferir información adicional sobre el perfil del usuario. Es un estudiante con interes en la carrera , con una experiencia en el dominio del ambiente de programación bajo, esperable para muchos aspirantes, y con una afinidad sobre el manejo de las computadoras, gracias a su constante exposicion con videojuegos y la tecnologia.

## Opinión del Sujeto de Prueba sobre el Sistema 

Al finalizar la actividad, se le consultó al sujeto sobre su opinión explícita del sistema. Coincidió con el sujeto de la primera prueba exploratorio, el sistema fue de su agrado. Considera que es interesante el funcionamiento del sistema y que, dentro de un contexto de estudiantes de software,
no cree que la forma de interactuar con el sistema sea agresiva. Tambien resaltó algunos puntos del instructivo que podrian prestarse a la ambiguedad y que para el, lo mas tedioso del proceso no es fue uso de la herramienta, mas bien, fue la instalacion de dependencias. 

## Posibles Áreas de Oportunidad Encontradas 

- Considera que fue sencillo seguir la mayoria de pasos, sin embargo, muchas terminologias le resultaron ajenas a su vocabulario. Menciona que de haber realizado la prueba totalmente en solitario, habria logrado efectuarla con un itempo extra del 50%.

- El apartado para visualizar el resultado del test estuvo un poco escondido para el sujeto. Durante la realización de la prueba, se le tuvo que indicar cómo ver si los commits realizados por el sujeto pasaron el test automatizado.

- Algunas terminologias eran ajenas al vocabulario del sujeto.

- Algunas secciones del isntructivo pueden resultar ambiguas.

---
### Navegación Rápida

[*Ver el **Diseño de las Pruebas Exploratorias***](../Exploratory%20Test%20Design.md)

[*Ver el **Reporte de la Prueba Exploratorias Preeliminar***](./Preeliminary%20Exploratory%20Test%20Report.md)

[*Ver el **Reporte de la Segunda Prueba Exploratoria***](./2nd%20Exploratory%20Test%20Report.md)

[*Ver el **Reporte de la Tercera Prueba Exploratoria***](./3rd%20Exploratory%20Test%20Report.md)

[*Volver a la **Definición del Proyecto***](../../README.md)