# Reporte de la Prueba Exploratoria Preeliminar 

## Navegación Rápida
- [Resumen](#resumen)
- [Perfil del Sujeto de Prueba](#perfil-del-sujeto-de-prueba)
- [Opinión del Sujeto de Prueba sobre el Sistema](#opinión-del-sujeto-de-prueba-sobre-el-sistema)
- [Posibles Áreas de Oportunidad Encontradas](#posibles-áreas-de-oportunidad-encontradas)

[*Ver el **Diseño de las Pruebas Exploratorias***](../Exploratory%20Test%20Design.md)

[*Ver el **Reporte de la Primera Prueba Exploratoria***](./1st%20Exploratory%20Test%20Report.md)

[*Ver el **Reporte de la Segunda Prueba Exploratoria***](./2nd%20Exploratory%20Test%20Report.md)

[*Ver el **Reporte de la Tercera Prueba Exploratoria***](./3rd%20Exploratory%20Test%20Report.md)

[*Volver a la **Definición del Proyecto***](../../README.md)

## Resumen 

Al sujeto, a través del chat directo de Microsoft Teams, se le proporcionaron indicaciones previas a la ejecución de la Prueba de Usabilidad sobre cómo instalar todas las dependencias requeridas para la prueba. De igual manera, se le indicó que resuelva la encuesta, realizada por el Equipo de la Prueba, para la extracción de información de los posibles usuarios del sistema. 

La prueba se ejecutó con normalidad. No se presentaron eventos extraordinarios que hayan impactado de manera significativa la aplicación de la Prueba de Usabilidad. 

 

## Perfil del Sujeto de Prueba 

El sujeto de prueba es un estudiante de 2do semestre de la carrera LIS de la Facultad de Matemáticas. 

El sujeto presenta poca experiencia en el uso de Visual Studio Code y el nulo uso del apartado de extensiones de éste. Ha utilizado GitHub durante las actividades de una asignatura de la carrera. El uso que le ha dado a GitHub ha sido a través de GitKraken, y su uso, aparentemente, se ha limitado a la creación y subida de commits a un repositorio. Cabe recalcar que no tiene experiencia previa a la Prueba de Usabilidad en el uso de Git Bash, ni de los comandos utilizados para la gestión de cambios en un repositorio. 

Considerando las respuestas obtenidas a través de la resolución de la encuesta, se puede determinar la siguiente información adicional: 

- No ha tenido exposición previa al ingreso de la carrera sobre temas de Algoritmia y Programación. 

- No considera que la falta de exposición previa le haya afectado en su rendimiento académico. 

- Se considera actualmente de un Dominio Medio en el área de Algoritmia y Programación. 

- Considera de alta importancia la retroalimentación sobre sus ejercicios de programación. 

Durante la aplicación de la prueba, se puede inferir información adicional sobre el perfil del usuario. Es un estudiante entusiasmado y con iniciativa, con una experiencia en el dominio del ambiente de programación esperable (e incluso por encima del promedio), y con una afinidad sobre el manejo del ambiente de programación. 

 

## Opinión del Sujeto de Prueba sobre el Sistema 

Al finalizar la actividad, se le consultó al sujeto sobre su opinión explícita del sistema. De manera resumida, le agradó el sistema. El sujeto no conocía las características automatizadas de GitHub Actions, y considera que el tener un sistema que le dé retroalimentación al estudiante sin tener que depender del profesor para asignarlo es útil para ambos bandos. 

La aplicación de la prueba y la opinión directa del sujeto pueden ayudar a inferir que, a pesar de la ausencia de una interfaz más amigable para el usuario, el sujeto considera que el sistema es útil y podría ser usado por los estudiantes, es decir, es usable. 

 

## Posibles Áreas de Oportunidad Encontradas 

- Las indicaciones proporcionadas de manera personal al sujeto de prueba le ayudaron enormemente a configurar y cumplir los requisitos previos para la realización de la prueba. El sujeto cree que, de habérsele proporcionado las indicaciones a través de unas instrucciones escritas (Por ejemplo, de la descripción de la página de una extensión en VSCode, o a través de un archivo README.md), aún así hubiera podido eventualmente utilizar el sistema. 

- El apartado para visualizar el resultado del test estuvo un poco escondido para el sujeto. Durante la realización de la prueba, se le tuvo que indicar cómo ver si los commits realizados por el sujeto pasaron el test automatizado. 

---
### Navegación Rápida

[*Ver el **Diseño de las Pruebas Exploratorias***](../Exploratory%20Test%20Design.md)

[*Ver el **Reporte de la Primera Prueba Exploratoria***](./1st%20Exploratory%20Test%20Report.md)

[*Ver el **Reporte de la Segunda Prueba Exploratoria***](./2nd%20Exploratory%20Test%20Report.md)

[*Ver el **Reporte de la Tercera Prueba Exploratoria***](./3rd%20Exploratory%20Test%20Report.md)

[*Volver a la **Definición del Proyecto***](../../README.md)